
<ActionBar title="Tasks">
</ActionBar>

<GridLayout>
    <ListView [items]="tasks | async" class="list-group">
        <ng-template let-item="item" let-i="index">
            <StackLayout>
                <Label [text]="item.title" ></Label>
            </StackLayout>
        </ng-template>
    </ListView>
</GridLayout>
